*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}
/* inizio header */
body>header{
    background-image: url(../img/pattern.png);
    width: 100%;
    height: 120px;
    position: relative;
}

.color-bg-header{
    background-color: rgba(78, 160, 255,0.5);
    width: 100%;
    height: 120px;
}

.logo{
    width: 15%;
    position: absolute;
    left:0;
    bottom: 0;
}
/* inizio main */
main{
    padding: 10px;
    position: relative;
}
/* inizio main header  */
main header .secondary-writing{
    color: #828282;
}

a{
    text-decoration: none;
    color: #3cb3e8
}

a:visited{
    text-decoration: none;
    color: #3cb3e8
}

main header time.secondary-writing{
    color: #828282;
    font-size: 10px;
}
/* inizio immagini main (figure) */
 main figure.tim-figures img{
    width: 35%
}

main figure.tim-figures figcaption div.secondary-writing{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}
/* inizio main section   */
main section{
    margin-top:40px;
}
/* paragrafo 1 e 2 */

main section span.marked{
    background-color: #fefe00;
}
/* lista */
main section.list{
    padding:0 40px;
}
/* tabella */

main section table thead th{
    color: white;
    background-color: rgb(32, 169, 229);
}

main section table td{
    width: 25%;
}

main section table td.big,th.big{
    width: 50%;
}

main section table tbody tr{
    background-color: rgb(177, 229, 242);
}

main section table tbody tr:nth-child(even){
    background-color: white
} 
/* inizio footer  */
footer{
    margin-top: 40px;
}

footer span.secondary-writing{
    color: #828282;
    margin: 5px;
}

footer figure div{
    width: 200px;
    height: 200px;
    color: white;
    font-size: 20px;
    margin: 10px;
}

footer figure div.monitor-img{
    background-image: url(../img/monitor.jpg);
}

footer figure div.graph-img{
    background-image: url(../img/graph.jpg);
}
